.button {
    padding: 12px 24px;
    border: 1px solid var(--zinc-900);
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: var(--font-mono);
    background: var(--primary-color);
    color: white;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.primary {
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.primary:not(:disabled):hover {
    opacity: 0.9;
}

.secondary {
    background: transparent;
    color: var(--text-primary);
    border: 1px solid var(--zinc-800);
}

.secondary:not(:disabled):hover {
    background: var(--zinc-900);
    border-color: var(--zinc-700);
}