.outerWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 16px 32px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .outerWrapper {
        padding: 0;
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;

    background-color: var(--bg-color);
    border: 1px solid var(--zinc-900);
    border-radius: 8px;

    box-shadow: 0 0 50px -12px rgba(144, 70, 255, 0.15);

    overflow: hidden;
    position: relative;
    z-index: 20;
}

.disconnectBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    border: 1px solid var(--zinc-800);
    background: transparent;
    color: white;
    font-family: var(--font-mono);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 9999px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
}

.disconnectBtn:hover {
    background: var(--zinc-900);
    border-color: var(--zinc-700);
}

@media (max-width: 768px) {
    .container {
        border-radius: 0;
        margin: 0;
        height: 100vh;
        border: none;
    }
}