.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sender {
    font-size: 10px;
    font-weight: 500;
    color: var(--zinc-600);
    text-transform: lowercase;
}

.contentWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.content {
    font-size: 0.875rem;
    color: #d4d4d8;
    line-height: 1.5;
    word-break: break-word;
}

/* YOU (Sent by user) */
.you {
    align-items: flex-end;
    text-align: right;
}

.you .contentWrapper {
    flex-direction: row-reverse;
}

.you .content {
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    padding-right: 12px;
    display: inline-block;
}

/* STRANGER messages */
.stranger .content {
    color: #d4d4d8;
}

/* SYSTEM MSG */
.system .sender {
    color: var(--primary-color);
    opacity: 0.5;
}

.systemWrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.systemIcon {
    font-size: 10px;
    color: var(--primary-color);
    margin-top: 4px;
}

.systemText {
    font-size: 0.875rem;
    color: var(--primary-color);
    font-style: italic;
}

/* ERROR messages */
.error .content {
    color: var(--error-color);
}