.input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--zinc-900);
    border-radius: 8px;
    font-size: 0.875rem;
    color: var(--text-primary);
    background: var(--zinc-950);
    transition: all 0.2s ease;
    outline: none;
    font-family: var(--font-mono);
}

.input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
}

.input::placeholder {
    color: var(--zinc-700);
}